### Install & Import Dependencies

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

### Setup Chrome Driver

In [4]:
driver = webdriver.Chrome("chromedriver")

In [5]:
states = []
total_covid_cases = []
total_recoverd_cases = []
vaccinated_people = []

### Set Website

In [6]:
driver.get("https://www.covid19india.org/")

In [7]:
content = driver.page_source
soup = BeautifulSoup(content)

### Fetching specific table data

In [8]:
table = soup.find('div',attrs={'class':'table-container'})

In [9]:
data = []
row_data = []
for index , item in enumerate(table.find_all('div' , attrs={'class' : 'total'})):
    if index%6 == 0 and index != 0:
        data.append(row_data)
        row_data = []
    row_data.append(item.text)

In [10]:
for item in table.find_all('div',attrs={'class':'state-name'}):
    states.append(item.text)

In [11]:
for d in data:
    total_covid_cases.append(d[0])
    total_recoverd_cases.append(d[2])
    vaccinated_people.append(d[-1])

In [12]:
states = states[:-1] # there is one extra entry so we remove it.

### Make a DataFrame Object

In [13]:
data = pd.DataFrame({'States':states , 'Total Covid Cases':total_covid_cases,'Total Recovered Cases':total_recoverd_cases,"Vaccine Doses Administered":vaccinated_people})

In [14]:
data

,States,Total Covid Cases,Total Recovered Cases,Vaccine Doses Administered
0,Maharashtra,"62,05,190","59,74,594",3.9Cr
1,Kerala,"31,46,981","30,06,439",1.7Cr
2,Karnataka,"28,82,239","28,16,013",2.7Cr
3,Tamil Nadu,"25,33,323","24,71,038",1.9Cr
4,Andhra Pradesh,"19,37,122","18,98,966",1.9Cr
5,Uttar Pradesh,"17,07,822","16,83,797",4Cr
6,West Bengal,"15,17,380","14,86,059",2.6Cr
7,Delhi,"14,35,478","14,09,830",93.5L
8,Chhattisgarh,"9,99,688","9,82,357",1.1Cr
9,Rajasthan,"9,53,334","9,43,889",2.8Cr
10,Odisha,"9,52,111","9,27,926",1.4Cr
11,Gujarat,"8,24,460","8,13,853",2.9Cr
12,Madhya Pradesh,"7,91,640","7,80,907",2.5Cr
13,Haryana,"7,69,504","7,59,088",1.1Cr
14,Bihar,"7,23,864","7,13,482",2.1Cr
15,Telangana,"6,36,049","6,22,313",1.3Cr
16,Punjab,"5,98,248","5,80,871",88L
17,Assam,"5,45,954","5,22,192",87.6L
18,Jharkhand,"3,46,649","3,41,192",82.8L
19,Uttarakhand,"3,41,433","3,27,412",52L
20,Jammu and Kashmir,"3,19,755","3,13,375",54.8L
21,Himachal Pradesh,"2,04,337","1,99,720",45.4L
22,Goa,"1,69,620","1,64,848",11.8L
23,Puducherry,"1,19,603","1,16,657",6.5L
24,Manipur,"83,859","73,047",10.3L
25,Tripura,"73,287","67,865",28.3L
26,Chandigarh,"61,870","61,008",6.8L
27,Meghalaya,"57,000","51,981",9L
28,Arunachal Pradesh,"42,564","38,040",7.6L
29,Mizoram,"26,690","21,136",7.4L
30,Nagaland,"26,576","24,205",6.6L
31,Sikkim,"23,237","20,400",6L
32,Ladakh,"20,246","19,937",2.5L
33,Dadra and Nagar Haveli and Daman and Diu,"10,596","10,544",5.8L
34,Lakshadweep,"10,061","9,899",62K
35,Andaman and Nicobar Islands,"7,506","7,361",2.6L

In [15]:
len(states),len(total_covid_cases),len(total_recoverd_cases),len(vaccinated_people)

(36, 36, 36, 36)

### Convert Dataframe Object to CSV

In [16]:
data.to_csv('covid-report-statewise.csv')

### Load CSV File

In [17]:
data = pd.read_csv('covid-report-statewise.csv')

In [18]:
data.head()

,Unnamed: 0,States,Total Covid Cases,Total Recovered Cases,Vaccine Doses Administered
0,0,Maharashtra,"62,05,190","59,74,594",3.9Cr
1,1,Kerala,"31,46,981","30,06,439",1.7Cr
2,2,Karnataka,"28,82,239","28,16,013",2.7Cr
3,3,Tamil Nadu,"25,33,323","24,71,038",1.9Cr
4,4,Andhra Pradesh,"19,37,122","18,98,966",1.9Cr

### Done..!!

[Towarddatascience](https://towardsdatascience.com/scraping-covid19-data-using-python-80120eb5eb66)<br>
[Blog Link](https://towardsdatascience.com/web-scraping-scraping-table-data-1665b6b2271c)